<div class="list-item" *ngIf="customer">
    <h2>Customer Details</h2>
    <p>ID: {{ customer.customerID }}</p>
    <p>Name: {{customer.firstName | uppercase}} {{customer.lastName | uppercase}}</p>
    <p>Address: {{customer.address }}</p>
    <p>Phone Number: {{ customer.phoneNumber }}</p>
    <p>Nationality: {{ customer.nationality | lowercase }}</p>
    <p>Booking Status: {{ customer.isBooking ? 'Yes' : 'No' }}</p>
    <p>Credit: {{customer.credit | currency: 'CAD': "symbol-narrow" }}</p>

    <h3>Course details</h3>
    <table>
      <thead>
        <tr>
          <th>Course Name</th>
          <th>Course Fee</th>
        </tr>
      </thead>
      <tbody> <!--Put the highlight directive on it for funsies
        student-detail.component.html-->
        <tr *ngFor="let courseName of customer.courseList; let i = index" [appHoverHighlight]="'orange'" >
          <td>{{ courseName }}</td>
          <!-- Passing the grade to the directive to determine the color -->
          <td >{{ customer.courseFees[i] }}</td>
        </tr>
        </tbody>
    </table>

    <!-- Navigation buttons -->
    <button (click)="goBackward()" [disabled]="currentIndex === 0">Previous</button>
    <button (click)="goForward()" [disabled]="currentIndex === customerList.length - 1">Next</button>
    <button (click)="goBack()">Back to Customer List</button>
  </div>
  <div *ngIf="error" class="error">{{ error }}</div>
  