<div class="list-item" *ngIf="customer">
    <h2>Details</h2>
    <p>ID: {{ customer.customerID }}</p>
    <p>Name: {{customer.firstName}} {{customer.lastName}}</p>
    <p>Address: {{customer.address }}</p>
    <p>Phone Number: {{ customer.phoneNumber }}</p>
    <p>Nationality: {{ customer.nationality }}</p>
    <p>Booking Status: {{ customer.isBooking ? 'Yes' : 'No' }}</p>
    <!-- Navigation buttons -->
    <button (click)="goBackward()" [disabled]="currentIndex === 0">Previous</button>
    <button (click)="goForward()" [disabled]="currentIndex === customerList.length - 1">Next</button>
    <button (click)="goBack()">Back to Customer List</button>
  </div>
  