h2 {
    margin-top: 0;
    color: #b9df49;
  }
  
  .list-item {
    border: 2px solid #000;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }
  
  button {
    background-color: #6bd34e; /* Blue background */
    border: none; /* Remove default border */
    color: rgb(148, 40, 106); /* White text color */
    padding: 10px 20px; /* Padding around text */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Align buttons inline */
    font-size: 16px; /* Font size */
    margin: 5px 10px; /* Space between buttons */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }

  /* Hover Effect */
button:hover {
  background-color: #257adb; /* Darker blue on hover */
}

table {
  margin-top: 20px; /* Optional: Add some spacing above the table */
  border-collapse: collapse; /* Collapse borders for a cleaner look */
  width: 80%; /* Optional: Set the table width */
}

th, td {
  border: 1px solid #a61b1b; /* Add border to table cells */
  padding: 8px; /* Add padding for better spacing */
  text-align: center; /* Center text in cells */
}

th {
  background-color: #197d5d; /* Light gray background for header */
}

.error {
  color: rgb(186, 36, 36); /* Optional: Style for error messages */
}


.student-card {
  margin: 20px;
}

.navigation-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.error-card {
  background-color: #79241e;
  color: white;
  margin-top: 20px;
}