.welcome {
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  color: #b9df49;
  font-size: 30px;
  margin-bottom: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f3e5d2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.userTable {
    border: 1px solid;
    width: 90%;
    text-align: center;
}

.tableHeader {
  text-align: center;
  vertical-align: top;
}

.tableContent {
  text-align: center;
}

.user-card {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-card h3 {
  margin: 0;
  color: #007bff;;
}

.user-card p {
  margin: 5px 0;
  color: #555;
}

.user-card p:first-child {
  margin-top: 10px;
}

.user-card p:last-child {
  margin-bottom: 0;
}
