<html>
<head>

</head>
<body>
  <div class="welcome">
    <h1>Hello, {{ title }}!</h1>
    <p>Congratulations! Your app is running. 🎉</p>
    <p>Your course is {{ course }} and section is {{ section }}</p>
  </div>
  <div class="container">
    <h2>User List</h2>
    <table class="userTable" cellpadding="2" cellspacing="2">
      <tr class="tableHeader">
        <td><b>User ID</b></td>
        <td><b>Name</b></td>
        <td><b>Phone Number</b></td>
        <td><b>Admin(Yes/No)</b></td>
      </tr>
      <div *ngFor="let user of userList">
        <tr class="tableContent">
          <td>{{user.userId}}</td>
          <td>{{user.firstName}} {{user.lastName}}</td>
          <td>{{user.phoneNumber}}</td>
          <td>{{user.isAdmin ? 'Yes' : 'No'}}</td>
        </tr>
      </div>
    </table>
  </div>
</body>
</html>
