<div>
    <table>
      <thead>
      <tr>
        <td><b>Customer ID</b></td>
        <td><b>Name</b></td>
        <td><b>Phone Number</b></td>
        <td><b>Booking</b></td>
      </tr>
      </thead>
      <tbody>
      <!-- <tr *ngFor="let customer of customerList" (click)="goToCustomerDetail(customer)"> -->
      <tr *ngFor="let customer of customerList" [routerLink]="['/customers',customer.customerID ]">  
        <td>{{ customer.customerID }}</td>
        <td>{{ customer.firstName }} {{customer.lastName}} </td>
        <td>{{ customer.phoneNumber }}</td>
        <td>{{ customer.isBooking ? 'Yes' : 'No' }}</td>
      </tr>
      </tbody>
    </table>
    <!-- <app-customer-list-item [customer]="customerChoice"></app-customer-list-item> -->
  </div>
  