<!DOCTYPE html>
<div>
    <table>
      <thead>
      <tr>
        <td><b>Customer ID</b></td>
        <td><b>Name</b></td>
        <td><b>Phone Number</b></td>
        <td><b>Nationality</b></td>
        <td><b>Booking</b></td>
        <td><b>Credit</b></td>
      </tr>
      </thead>
      <tbody>
      <!-- <tr *ngFor="let customer of customerList" (click)="goToCustomerDetail(customer)"> -->
      <tr *ngFor="let customer of customerList" [routerLink]="['/customers',customer.customerID ] " [appHoverHighlight]="'orange'">  
        <td>{{ customer.customerID }}</td>
        <td>{{ customer | fullName }} </td>
        <td>{{ customer.phoneNumber }}</td>
        <td>{{ customer.nationality | lowercase }}</td>
        <td>{{ customer.isBooking ? 'Yes' : 'No' | uppercase}}</td>
        <td>{{customer.credit| currency: 'CAD': "symbol-narrow"}}</td>
      </tr>
      </tbody>
    </table>
    <!-- <app-customer-list-item [customer]="customerChoice"></app-customer-list-item> -->
  </div>
  <div *ngIf="error" class="error">{{ error }}</div>
  